.language-switcher-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.notification-bell-fixed {
  position: fixed;
  top: 20px;
  right: 160px;
  z-index: 1000;
}

.home-container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    padding-top: 5rem;
    background: #fefefe;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
.home-container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
    text-align: center;
}
  
.form-section, .list-section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.goals-container {
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 100%;
  }

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
  